<div class="listing">
    <% @recent_listings.each do |listing| %>
      <ul>
        <li><%= listing.open_to_student_only %>, it's only for students...</li>
        <li><%= number_to_currency(listing.rent_per_month) %> per month</li>
        <li>Starting <%= time_tag Date.today(listing.is_available) %></li>
        <li><%= listing.user %> is the lister</li>
      </ul>
      <p><%= link_to 'Learn More', listing %></p>
    <% end %>
</div>
