<%= form_for(@property) do |f| %>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% @property.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :total_bedrooms %><br>
    <%= f.number_field :total_bedrooms %>
  </br>
  <div class="field">
    <%= f.label :total_bathrooms %><br>
    <%= f.number_field :total_bathrooms %>
  </br>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </br>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </br>
  <div class="field">
    <%= f.label :commute_to_campus_in_minutes %><br>
    <%= f.number_field :commute_to_campus_in_minutes %>
  </br>
  <div class="field">
    <%= f.label :listing_id %><br>
    <%= f.text_field :listing_id %>
  </br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %></div></div></div></div></div></div>
