<div class="property">
    <% @recent_properties.each do |property| %>
      <ul>
        <li><%= property.address %></li>
        <li><%= property.description %></li>
        <li><%= property.total_bedrooms %> bedrooms</li>
        <li><%= property.total_bathrooms %> bathrooms</li>
        <li><%= property.commute_to_campus_in_minutes %> minute commute to campus</li>
      </ul>
      <p><%= link_to 'Learn More', property %></p>
    <% end %>
</div>
