<h1>Listing properties</h1>

<table>
  <thead>
    <tr>
      <th>Total bedrooms</th>
      <th>Total bathrooms</th>
      <th>Address</th>
      <th>Description</th>
      <th>Commute to campus in minutes</th>
      <th>Listing</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.total_bedrooms %></td>
        <td><%= property.total_bathrooms %></td>
        <td><%= property.address %></td>
        <td><%= property.description %></td>
        <td><%= property.commute_to_campus_in_minutes %></td>
        <td><%= property.listing %></td>
        <td><%= link_to 'Show', property %></td>
        <td><%= link_to 'Edit', edit_property_path(property) %></td>
        <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property', new_property_path %>
