<h1><%= @property.address %></h1>

<div class="room">
    <% @rooms.each do |room| %>
      <ul>
        <li><%= room.property %></li>
        <li><%= room.tenant %></li>
        <li><%= room.subletter %></li>
        <li><%= room.listing %></li>
      </ul>
    <% end %>
    <p><%= link_to "Add a room", new_property_room_path %></p>
</div>


